* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh; /* Full height for body */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide overflow to prevent scroll */
}

.login {
    background-color: rgba(0, 0, 0, 0.7); /* Increased opacity for better visibility */
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 90%; /* Make it responsive */
    max-width: 600px; /* Maximum width for larger screens */
}

.login h1 {
    color: aqua;
    margin-bottom: 30px;
}

.login span {
    color: red;
}

.login form p {
    color: aqua;
    font-size: 20px;
    margin-bottom: 10px;
}

.login label {
    color: antiquewhite;
    font-size: 25px;
    display: block;
    margin-bottom: 10px;
}

.login form input {
    width: 100%; /* Full width input fields */
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-size: 18px;
}

.login form button {
    padding: 10px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background: red;
    cursor: pointer;
    border: none;
    margin: 10px; /* Space between buttons */
}

.footer p {
    color: white;
    margin-top: 20px;
    text-align: center;
}
.login form button:hover{
    background: white;
    color: black;
    border-radius: 1px solid green;
    border: blue;
}
.footer a{
    color: aqua;
    text-decoration: none;
}